h1{
  text-align: center;
  font-size: 4rem;
  color: blueviolet;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

form {

  width:50%;
  /* margin:auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="file"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

input[type="url"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

Location {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button{
  width:50%;
  height:2rem;
  border-radius: 2%;
  background-color: #4CAF50;
  color:white;
  border:none;
}
a{
  color:white;
  text-decoration: none;
}